<mat-sidenav-container>
    <mat-sidenav  #sidenav role="navigation">
     <mat-nav-list>
      <a mat-list-item
            routerLink="/">
            <mat-icon class="icon">home</mat-icon>
      </a>
      <a mat-list-item
        *ngIf="auth.isAuthenticated()"
        (click)="goToCharactersList()">
        <mat-icon class="icon">list</mat-icon>  
        <span class="label">Список {{listMessage}}</span>
      </a>
      <a mat-list-item 
        *ngIf="!auth.isAuthenticated()"
        (click)="openDialog()">
      <span class="label">Войти</span>
    </a>
    <a  mat-list-item 
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()" type="button">
        <span class="label">Выйти</span>
      </a>  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
       <div fxHide.gt-xs>
         <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
       <div>
         <a>
            НРИ Помощник клуба "Шестигранник"
         </a>
       </div>
       <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
              <li>
                <a 
                    routerLink="/">
                    <mat-icon class="icon">home</mat-icon>
                </a>
              </li>
              <li>
                  <a
                  *ngIf="auth.isAuthenticated()"
                        (click)="goToCharactersList()">
                        <mat-icon class="icon">list</mat-icon>  
                        <span class="label">Список {{listMessage}}</span>
                  </a>
                </li>
                <li>
                    <a
                      *ngIf="!auth.isAuthenticated()"
                      (click)="openDialog()">
                      <span  class="label">Войти</span>
                     </a>
                </li>
              <li>
                  <a
                    *ngIf="auth.isAuthenticated()"
                    (click)="auth.logout()" type="button"
                    >
                    <span class="label">Выйти</span>
                 </a>
              </li>
          </ul>
       </div>
      </mat-toolbar>
      <main>
        <div [@routeAnimation]="getAnimationData(routerOutlet)">
          <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>