<div>
  <div class="container">
    <br>
      <button button="submit" mat-raised-button color="primary" (click)="add()" class="addButton">
          Добавить персонажа
      </button>
  </div>
  <div>
      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Ваши персонажи</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">
                      <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Age">
                        <mat-header-cell *matHeaderCellDef> Возраст </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Age}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Gender">
                          <mat-header-cell *matHeaderCellDef> Пол </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.Gender == 1 ? "М" : "Ж"}} </mat-cell>
                        </ng-container>
                      <ng-container matColumnDef="RuleSystem">
                          <mat-header-cell *matHeaderCellDef> Система </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{getRuleSystem(element.RuleSystem)}} </mat-cell>
                        </ng-container>
                      <ng-container matColumnDef="info">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a
                              [routerLink]="['/list', element._id]"
                              type="button" name='moreInfoIcon'>
                            <mat-icon class="icon">remove_red_eye</mat-icon>
                          </a> 
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a
                              [routerLink]="['/list/edit', element._id]"
                              type="button" name='editIcon'>
                            <mat-icon class="icon">edit</mat-icon>
                          </a> 
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="delete">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <a
                                (click)="delete(element._id)"
                                type="button">
                              <mat-icon class="icon" name='deleteIcon'>delete</mat-icon>
                            </a> 
                          </mat-cell>
                        </ng-container>  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div> 
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </div>
</div>