.card {
    min-width: 80%;
  }
  
  .container {
    text-align: center;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    color: black;
    cursor: pointer;
  }