<div>
  <br>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <h3>Все пользователи</h3>
        </mat-card-title>
        <mat-card-content>
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="Login">
                    <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Login}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="info">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a
                          (click)="goToUser(element)"
                          type="button">
                        <mat-icon class="icon">remove_red_eye</mat-icon>
                      </a> 
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div> 
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
