.external-card {
    width: max-content;
    max-width: 70%;
    text-align: left;
    height: fit-content;
    margin: auto
}

.bold {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}