<div>
  <mat-tab-group class="external-card" mat-align-tabs="center">
      <mat-tab label="Основная информация"> 
        <div class="text">
          <mat-label class="bold">Имя: </mat-label>{{character.Name}}
        </div>
        <div class="text">
            <mat-label class="bold">Возраст: </mat-label>{{character.Age}}
        </div>
        <div class="text">
            <mat-label class="bold">Пол: </mat-label>{{character.Gender == 1 ? "Мужской" : "Женский"}}
        </div>
        <div class="text">
            <mat-label class="bold">Система правил: </mat-label>{{getRuleSystem(character.RuleSystem)}}
        </div>
      </mat-tab>
      <mat-tab label="История"> 
        <div class="text">
          {{ character.Info }}
        </div>
      </mat-tab>
  </mat-tab-group>
  <div class="external-card">
    <button mat-icon-button color="primary" [routerLink]="['/list']">
        <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
    </button>
    <button [routerLink]="['/list/edit/', character._id]" mat-raised-button color="accent" name="change">Изменить</button>
  </div>
</div>