<div class="example-container">
    <mat-form-field class="example-full-width">
        <input required #Name matInput type="text" [(ngModel)]="character.Name" placeholder="Имя" value="character.Name" name="nameInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input required #Age matInput type="number" min="0" [(ngModel)]="character.Age" placeholder="Возраст" value="character.Age" name="ageInput">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Пол" [(ngModel)]="character.Gender">
          <mat-option *ngFor="let system of genders" [value]="system.id">
            {{system.value}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Система правил" [(ngModel)]="character.RuleSystem">
          <mat-option *ngFor="let system of ruleSystems" [value]="system.id">
            {{system.value}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10"
                  [(ngModel)]="character.Info" 
                  placeholder="Информация о персонаже"
                  value="character.Info"></textarea>
    </mat-form-field>
  </div>
<div class="external-card">
  <button mat-icon-button color="primary" [routerLink]="['/list']">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
  </button>
  <button [disabled]="!(Name.value && (Age.value > 0))" mat-raised-button color="accent" (click)="saveCharacter()" name="SaveCharacterButton">Сохранить</button>
</div>
<div class="text-center">{{resultMessage}}</div>
