.external-card {
    width: max-content;
    max-width: 70%;
    text-align: left;
    height: fit-content;
    margin: auto
}

.text-center {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.example-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
    height: max-content;
}
  
.example-full-width {
    width: 100%;
}