<div style="text-align:center">
    <h1>Добро пожаловать в гости к Помощнику КНИ "Шестигранник"!</h1>
    <p>
      Помощник создан, чтобы облегчить труд ролевиков по созданию и генерации листов персонажей.
      <br> Нажмите "Войти", чтобы присоединиться к нам!
    </p>
  </div>