<h3 mat-dialog-title>Введите данные для регистрации</h3>
<div mat-dialog-content>
    <div class="errorMessage" *ngIf="!registered">
        {{ errorMessage }}
    </div>
    <div class="validatingMessage" [hidden]="registerInfo.isValid()">
        {{ registerInfo.validatingMessage }}
    </div>
  <form class="example-form">
    <mat-form-field hintLabel="Логин должен содержать минимум 4 символа" appearance="standard">
      <input matInput #log placeholder="Введите логин" type="text" required [(ngModel)]="registerInfo.Login" name="rlogin">
      <mat-hint align="end">{{log.value?.length || 0}}/{{registerInfo.loginMin}}</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Пароль должен содержать минимум 8 символов" appearance="standard">
      <input #input [type]="hide ? 'password' : 'text'"
            matInput placeholder="Введите пароль"
            required
            [(ngModel)]="registerInfo.HashedPassword" name="rpassword">
      <mat-hint align="end">{{input.value?.length || 0}}/{{registerInfo.passwordMin}}</mat-hint>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Email" [formControl]="emailFormControl"
          [errorStateMatcher]="matcher" name="email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Введите корректный e-mail адрес
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        E-mail <strong>обязателен</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
    <button [disabled]="!registerInfo.isValid()" mat-raised-button (click)="onSubmit()"
    class="submit" color="primary">Зарегистрироваться</button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="rclose" (click)="onNoClick()" color="warn">Отмена</button>
</div>