.loggingMessage {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.validatingMessage {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.example-form {
    display: flex;
    flex-direction: column;
}

.example-form > * {
    width: 100%;
}

.close {
    width: 100%;
}

.submit {
    width: 100%;
}

.register {
    width: 100%;
    background-color: darkorchid;
    color: white;
}