<h2 mat-dialog-title>Введите данные для авторизации</h2>
<div mat-dialog-content>
    <div class="loggingMessage" *ngIf="!logined">
        {{ loggingMessage }}
    </div>
    <div class="validatingMessage" [hidden]="loginInfo.isValid()">
        {{ loginInfo.validatingMessage }}
    </div>
  <form class="example-form">
    <mat-form-field hintLabel="Логин должен содержать минимум 4 символа" appearance="standard">
      <input matInput #log placeholder="Введите логин" type="text" required [(ngModel)]="loginInfo.Login" name="login">
      <mat-hint align="end">{{log.value?.length || 0}}/{{loginInfo.loginMin}}</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Пароль должен содержать минимум 8 символов" appearance="standard">
      <input #input [type]="hide ? 'password' : 'text'"
            matInput placeholder="Введите пароль"
            required
            [(ngModel)]="loginInfo.HashedPassword" name="password">
      <mat-hint align="end">{{input.value?.length || 0}}/{{loginInfo.passwordMin}}</mat-hint>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>  
  </form>
</div>
<div mat-dialog-actions>
    <button [disabled]="!loginInfo.isValid()" mat-raised-button (click)="onSubmit()"
    class="submit" color="primary">Войти</button>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="register" (click)="openDialog()">Зарегистрироваться</button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Отмена</button>
</div>